<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Assets/css/style.css">



    <title>@ViewBag.Title</title>
</head>
<body class="img js-fullheight" style="background: url(/Assets/images/bg.jpg);">
    <div>
        @RenderBody()
    </div>

    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/popper.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/main.js"></script>
</body>
</html>
